body 
{
    background-image: url('f15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
}
u
{
    font-size: 150px;
}
b
{
    color: white;
    font-size: 75px;
}
#zero
{
    color: black;
    font-size: 70px;
}
#dupa
{
    color: black;
    font-size: 80px;
}
p
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 400px;
}

img
{
    height: 300px;
    width: 700px;
}
a
{
    color: blue;
    font-size: 40px;
}
i
{
    font-size: 40px;
}
table
{
    color: black;
    font-size:  40px;
}
