body 
{
    background-image: url('tlo.png');
    background-repeat: repeat;
    background-size: contain;
    background-color: black;
    text-align: right;
    margin: 300px;
    font-family: 'Noto Sans Mono', monospace;
}
div
{
    width: 100%;
    position: sticky;
        
}
u
{
    font-size: 200px;
}
b
{
    color: white;
    font-size: 90px;
    text-align: right;
    margin: 500px;
}
#zero
{
    color: white;
    font-size: 85px;
    text-align: right;
}
#dupa
{
    color: white;
    font-size: 95px;
    text-align: right;
}
p
{
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-align: right;
    margin: 300px;
}

img
{
    height: 600px;
    width: 1400px;
    image-align: right;
}
a
{
    color: red;
    font-size: 65px;
    text-align: right;
}
i
{
    font-size: 55px;
    text-align: right;
}
table
{
    color: white;
    font-size:  55px;
    position: right;
}
